/* Reseto CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  Selector de etiqueta*/
/* html {
  font-size: 16px;
} */

body {
  background-color: #f5f5dc;
}

h1 {
  background-color: aquamarine;
}

/* selector id */
#titulo {
  background-color: blue;
  color: aliceblue;
}

/* selector de Clase */
.titulo1 {
  background-color: #7b7b15;
  padding: 1rem;
  margin: 1rem;
  display: inline-block;
}

.titulo2 {
  background-color: aqua;
}

.contenedor1 {
  width: 300px;
  height: 300px;
  background-color: rgb(242, 168, 72);
  padding: 50px;
  margin-top: 100px;
}

.contenedorEnlaces {
  background-color: #7b7b15;
  width: 400px;
  margin: auto;
  text-align: center;
}
