<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>

  <body>
    <div>
      <%- include("partials/header.ejs") %>

      <main>
        <h1>Bienvenido <%= nombre %></h1>
        <h3><%= apellido %></h3>
      </main>
      <%- include("partials/footer.ejs") %>
    </div>
  </body>
</html>
