* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  /* height: 700px; */
  background-color: rgb(161, 166, 171);
  padding: 20px;
  border: 1px solid gray;
  gap: 1rem;

  /* DISPLAY */
  display: grid;

  /* COLUMNS */

  grid-template-columns: 300px 200px 300px;
  /*   grid-template-columns: 1fr 2fr 1fr;
 */ /*  grid-template-columns: repeat(3, 150px);
 */ /*  grid-template-columns: repeat(3, 1fr); */

  /* ROW */

  grid-template-rows: 200px 200px;
  /* grid-template-rows: 200px 200px; */
  /*  grid-template-rows: repeat(2, 1fr); */

  /***** centrado eje horizontal dentro de la celda ****/
  /* justify-items: center; */
  /* justify-items: end; */

  /***** centrado eje Vertical dentro de la celda ****/
  /* align-items: center; */
  /* align-items: flex-end; */

  /*   justify-content: center;*/
  /*   align-content: center;*/
}

.grid-item {
  /*  width: 100px; */
  /*   width: 50%;
  height: 50%; */
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
}

.item1 {
  grid-column: 1/3;
  background-color: #ff6b6b;
}
.item2 {
  background-color: #4ecdc4;
}
.item3 {
  background-color: #45b7d1;
  grid-row: 2/4;
}
.item4 {
  background-color: #96ceb4;
}
.item5 {
  background-color: #ffeaa7;
}
.item6 {
  background-color: #dda0dd;
}
