<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="grid-item header">
        <span class="logo">LOGO</span>
        <nav class="nav">
          <ul class="nav-item">
            <li><a href="">Pagina1</a></li>
            <li><a href="">Pagina2</a></li>
            <li><a href="">Pagina3</a></li>
            <li><a href="">Pagina4</a></li>
          </ul>
        </nav>
      </header>
      <div class="grid-item sidebar">sidebar</div>
      <main class="grid-item main">
        <section class="section1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum cumque
          consequuntur molestias nihil pariatur inventore esse eligendi. Iure,
          voluptatum molestias?
          <button>ver más</button>
        </section>
        <section class="section2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum facilis
          doloribus cumque molestias neque, esse excepturi nihil. Quasi, quidem
          in!
          <button>ver más</button>
        </section>
      </main>
      <div class="grid-item aside">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
        consectetur!
      </div>
      <footer class="grid-item footer">
        <div class="redes">footer</div>
      </footer>
    </div>
  </body>
</html>
