* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}
ul {
  display: flex;
  gap: 10px;
}

button {
  width: 100px;
  margin-top: 1rem;
  padding: 4px;
  border: none;
  background-color: #e4c14d;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto auto auto auto;
  /*  justify-items: center;
  align-items: center;
 */
  grid-template-areas:
    "header header header"
    "sidebar main main "
    "aside aside aside"
    "footer footer footer";
}

.grid-item {
  /*  color: white; */
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

.header {
  grid-area: header;
  background-color: #ff6b6b;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: #4ecdc4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  grid-area: main;
  background-color: #96ceb4;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-color: #ffeaa7;
  padding: 1rem;
}
.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-color: #ffeaa7;
  padding: 1rem;
}
.aside {
  grid-area: aside;
  background-color: #ffeaa7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  grid-area: footer;
  background-color: rgb(176, 130, 218);
  display: flex;
  justify-content: center;
  align-items: center;
}
